.sidenav {
    height: 100%;
    width: 290px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, td{
  font-size: 1rem;
}

#logo{
  margin-top: 100px;
  text-align: center;
}

.logo-expand{
  position: fixed;
  top: 50px;
}

#logo-img{
  max-width: 10rem;
}

#info-text, #warning-text, #warning-text2, #danger-text{
  font-size: 1.1rem;
  position: fixed;
  top: 30px;
  right: -400px;
  width: 400px;
  z-index:1000;
  transition:0.5s ease;
}

.show{
  right:20px !important;
}

.badge-info > a{
  text-decoration: none;
  color: white;

}

body{
  background-color: #f7f7f9;
}

.empty:hover{

  color: rgba(255, 255, 255, 0.5) !important;
}

#item-menu-links{
  margin-left: 30px;
  font-size: 0.9rem;
}

p, .statistics-label{
  font-size: 0.7em;
}

.sm-input, .page-item,  .tags{

  font-size: 0.5em;
}

.mt-8{
  margin-top: 3rem;
}

.costum-input{
  border:1px solid rgba(0,0,0,0.125); 
  background-color:white;
  max-width:50%;
}

.disabled-buttons {
    pointer-events: none;
    opacity: 0.4;
}

.login{
  background-color: #fff;
  max-width: 30rem; 
  margin-top: 70px;
  padding:3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}


.main{
    margin-left: 300px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 20px 30px;
}


.no-p{
  padding: 0px !important;
}

.p-lr{
  padding-left:0.8rem;
  padding-right:0.8rem;
}
.centered-img{
  min-width: 80%;
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  vertical-align: middle;
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
  padding: 5px;
  border:1px solid rgba(0,0,0,0.15); 
}

.img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.item-card{
  
  width:85%;
}

.auto-m{
  margin:auto;
}

