{% include "base.html" with active_new_orders="active"  %}

    {% block content %}
<div id="main" class="main">
    <div class="m-3">
        <h1>Nova naročila</h1>

    
    <div id="info-text"  class="alert alert-dismissible alert-success {% if confirmed %} show {% endif %}">
      Naročilo uspešno potrjeno.
    </div>
    
    {% if narocila_neobdelano %}
   <table class="table table-responsive mt-3 table-hover">
        <thead>
            <tr class="table-light">
                <th scope="col">#</th>
                <th scope="col">Datum</th>
                <th scope="col">Podjetje</th>
                <th scope="col">Prodajno mesto</th>
                <th scope="col">Naročilnica</th>
                <th scope="col">Spremeni naročilo</th>
                <th scope="col">Označi kot obdelano</th>
            </tr>
        </thead>
        {% for narocilo in narocila_neobdelano  %}
            <tr class="table-light">
                <form action="/narocila/nova_narocila/" method="post" class="form1">
                 {% csrf_token %}   
                <td>{{forloop.counter}}.</td>
                <td>{{ narocilo.datum|date:'d.m.Y' }}, {{ narocilo.datum|time:"H:i" }}</td>
                <td>{{narocilo.uporabnik.podjetje.ime}}</td>
                <td>{{narocilo.uporabnik.prodajno_mesto.ime}}</td>
                <td>
                    <input type="hidden" name="narocilo_id" value={{ narocilo.id }}>
                    <button type="submit" class="btn btn-info" name="prenesi"><i class="fa fa-download"></i>  &nbsp;Prenesi</button>
                </td>
                <td>
                    <a href="/narocila/nova_narocila/{{narocilo.id}}/" class="btn btn-info" name="obdelano"><i class="fa fa-eye"></i>  &nbsp;Pregled</a>
                </td>
               </form>
                <td>
                    <form action="/narocila/nova_narocila/" method="post" id="form-{{ narocilo.id }}">
                         {% csrf_token %}
                    <input type="hidden" name="narocilo_id2" value={{ narocilo.id }}>
                    <button type="submit" class="btn btn-primary obdelaj" data-form="form-{{ narocilo.id }}" name="obdelano">Obdelano</button>
                    </form>
                </td>
                 
            </tr>
        
        {% endfor %}
    </table>

    {% else %}
    <p>Ni novih naročil.</p>
    {% endif %}


<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-top: 10rem">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mainModalLabel">Opozorilo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ko potrdite naročilo, ga ni več možno spreminjati.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary ok" data-dismiss="modal">Potrdi</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Prekliči</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>
    {% endblock %}
