{% include "base.html" with skupine=skupine index_skupina=index_skupina %}


{% block head %}


<script type="text/javascript">

</script>

{% endblock %}

<div id="main" class="main">
{% block content %}


    <a href="/prijava/logout/">Odjava</a>

    <button onclick="myFunction()">Iskanje po tagih</button> 
    <input id="search" >

    

    <div id="info-text"  class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Opa!</strong> 
    </div>


    <div class="pagination">
        <span class="step-links">
            {% if izdelki.has_previous %}
                <a href="?page=1">&laquo; Prva</a>
                <a href="?page={{ izdelki.previous_page_number }}">Prejšna</a>
            {% endif %}

            <span class="current">
                Stran {{ izdelki.number }} od {{ izdelki.paginator.num_pages }}.
            </span>

            {% if izdelki.has_next %}
                <a href="?page={{ izdelki.next_page_number }}">Naslednja</a>
                <a href="?page={{ izdelki.paginator.num_pages }}">Zadnja &raquo;</a>
            {% endif %}
        </span>
    </div>


    <table class="table">

        {% for izdelek in izdelki  %}
        <tr>
            <td>{{izdelek.ime}}</td>
            <td>{{izdelek.opis}}</td>
            <td><img src="{{ izdelek.image_thumbnail.url }}"></td>
            <td>{{izdelek.zaloga}}</td>
            <td>{{izdelek.aktiven}}</td>
            
            
            <td>
                
                <input name="kolicina" required="" id="{{ izdelek.id }}" type="number">
                
            </td>
            <td><input class="test" type="submit" value="Dodaj v košarico" /></td>
            
            

        </tr>
        {% endfor %}

    </table>


{% endblock %}

</div>