{% include "base.html" with skupine=skupine index_skupina=index_skupina %}

{% load filters %}
{% block head %}


<script type="text/javascript">

</script>

{% endblock %}

{% block content %}

<div id="main" class="main">
    <div class="m-3">
      <h1>{{skupina.ime}}</h1>
      <!-- iskanje po tagih -->
      <div class="row">
        <div class="form-inline my-2 my-lg-0 col-sm-6">
          <form id="backToAll" method="get" action="/{{index_skupina}}/?show={{per_page}}">
          </form>
          <input class="form-control mr-sm-2 costum-input"  {% if search_string %} value={{search_string}} {% endif %} type="search" placeholder="Išči po oznakah ali kodi" id="search">
          <button class="btn btn-info" onclick="searchByTag()"><i class="fa fa-search"></i>   &nbsp;Išči</button>
        </div>

       
        <div class="form-inline tags col-sm-6">
          <div id="perpage" >
            <form id="perpage-form" method="get" action="">
              <label for="perpage-select" style="display: block">Prikazov na stran </label>
              <select class="form-control  costum-input" id="perpage-select" name="show">
                <option {%if per_page == 15%} selected {%endif %}>15</option>
                <option {%if per_page == 25%} selected {%endif %}>25</option>
                <option{%if per_page == 50%} selected {%endif %}>50</option>
              </select>
            </form>
        </div>
        </div>
       
      </div>
    </div>


    <div class="row mt-3 justify-content-md-center">

    <div id="info-text"  class="alert alert-dismissible alert-success">
      Izdelek dodan v košarico.
    </div>

    <div id="warning-text"  class="alert alert-dismissible alert-warning">
      Izberite ali vpišite pravilno količino.
    </div>

    <div id="warning-text2"  class="alert alert-dismissible alert-warning">
      Minimalna količina naročila je {{skupina.min_narocilo}}.
    </div>

    <div id="danger-text"  class="alert alert-dismissible alert-danger">
      Napaka pri shranjevanju.
    </div>


    {% if opozorilo %}
    <p class="text-justify mt-3">Ni zadetkov</p>
    {% endif %}

    {% for izdelek in izdelki  %}

      <div class="card p-3 mb-3 item-card " >
        <div class="row ">
          <div class="col-md-4">
              <img src="{{ izdelek.image_thumbnail.url }}" class="centered-img">
            </div>
            <div class="col-md-8 px-3">
                <div class="card-block px-3">
                    {% if izdelek.koda != izdelek.ean_koda %}
                    <h3 class="card-title">{{izdelek.koda}}</h3>
                    {% else %}
                    <h3 class="card-title">{{izdelek.ime}}</h3>
                    {% endif %}
                    <p class="card-text">{{izdelek.opis}}</p>

                    <div class="tags mb-4">
                        Oznake:

                        {% for tag in izdelek.tag.all  %}
                        <span class="badge badge-info text-sm"><a href="/{{index_skupina}}/{{tag}}">{{tag}}</a></span>
                        {% endfor %}
                    </div>


                    <div class="btn-group btn-group-toggle row {%if not izdelek.zaloga %} disabled-buttons {%endif%}" id="group-{{ izdelek.id }}" data-toggle="buttons">
                        <label class="btn btn-secondary col-xs-1">
                            <input type="radio" name="group-{{ izdelek.id }}" autocomplete="off" value="{{ skupina.min_narocilo }}">{{ skupina.min_narocilo}}
                        </label>
                        <label class="btn btn-secondary col-xs-1">
                            <input type="radio" name="group-{{ izdelek.id }}" autocomplete="off" value="{{ skupina.min_narocilo|multiply:2 }}">{{ skupina.min_narocilo|multiply:2 }}
                        </label>
                        <label class="btn btn-secondary col-xs-1">
                            <input type="radio" name="group-{{ izdelek.id }}" autocomplete="off" value="{{ skupina.min_narocilo|multiply:4 }}">{{ skupina.min_narocilo|multiply:4 }}
                        </label>

                        <div class="col-md-3">
                            <input name="kolicina" class="form-control p-lr" required="" id="option5" type="number" min=1 size="8" placeholder="min. {{skupina.min_narocilo}}">
                        </div>

                        <div class="col-sm-3 col-md-4">
                            <input hidden id="min-order">
                            <button class="dodaj btn btn-primary" data-min={{skupina.min_narocilo}} id="{{ izdelek.id }}" type="submit">
                                {%if izdelek.zaloga %}
                                Dodaj v košarico
                                {%else%}
                                Ni na zalogi
                                {%endif%}

                            </button>
                        </div>
                    </div>



                </div>
            </div>

          </div>
        </div>
   


        

    {% endfor %}
</div>

  <div class="mt-3 item-card">
        <ul class="pagination">
         
        {% if izdelki.has_previous %}
            <li class="page-item">
                <a href="?page={{ izdelki.previous_page_number }}" class="page-link">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
            </li>
        {% endif %}


        {% if izdelki.has_other_pages %}

          {% for pg in izdelki.paginator.page_range %}

              {% if pg|add:"2" >= izdelki.number and pg|add:"-2" <= izdelki.number %}
                {% if izdelki.number == pg %}
                  
                  <li class="page-item align-middle active">
                    <a href="?page={{pg}}" class="page-link">{{pg}}</a>
                  </li>
                {% else %}
                  <li class="page-item align-middle">
                    <a href="?page={{pg}}" class="page-link">{{pg}}</a>
                  </li>
                {% endif %}

              {% elif pg|add:"3" == izdelki.number %}
                <li class="page-item align-middle">
                  <a class="page-link disabled" style=":hover: {cursor:default;}">...</a>
                </li>
              {% elif pg|add:"-3" == izdelki.number %}
                <li class="page-item align-middle">
                  <a class="page-link disabled" style=":hover: {cursor:default;}">...</a>
                </li>
              {% endif %}
          {% endfor %}

        {% else %}
          <li class="page-item align-middle active">
            <a class="page-link disabled" style=":hover: {cursor:default;}">1</a>
          </li>
        {% endif %}
       

        {% if izdelki.has_next %}
            <li class="page-item">
                <a href="?page={{ izdelki.next_page_number }}" class="page-link">&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
            </li>
        {% endif %}

           
        </ul>
    </div>

</div>
{% endblock %}

