<!DOCTYPE html>
<html>
<head>

    {% csrf_token %}

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
//http://coreymaynard.com/blog/performing-ajax-post-requests-in-django/
// stvar deluje, poslje tudi ok csrf kodo, tako da se uporabnika avtenticira lahko

$(document).ready(function() {
    $("#post").click(function(e) {
        e.preventDefault();
        var data = {
            'id_izdelka': 1,
            'kolicina' : 25
        }
        
        $.ajax({
            "type": "POST",
            "dataType": "json",
            "url": "/1/",
            "data": data,
            "success": function(result) {
                console.log(result);
            },
        });
    });
});

//dobi csrf kodo
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
//pripravi za avtomatsko posiljanje csfr
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});


</script>
</head>
<body>



    <h1>PostExample</h1>
    <p><a href="" id="post">Post Request</a></p>


    <ul class="list-group">
        {% for skupina in skupine %}
        <li class="list-group-item"><a href="/{{skupina.id}}/">{{ skupina.ime }}</a></li>
        {% endfor %}
    </ul>


    <div class="pagination">
        <span class="step-links">
            {% if izdelki.has_previous %}
                <a href="?page=1">&laquo; Prva</a>
                <a href="?page={{ izdelki.previous_page_number }}">Prejšna</a>
            {% endif %}

            <span class="current">
                Stran {{ izdelki.number }} od {{ izdelki.paginator.num_pages }}.
            </span>

            {% if izdelki.has_next %}
                <a href="?page={{ izdelki.next_page_number }}">Naslednja</a>
                <a href="?page={{ izdelki.paginator.num_pages }}">Zadnja &raquo;</a>
            {% endif %}
        </span>
    </div>


    <ul class="list-group">
        {% for izdelek in izdelki %}
        <li class="list-group-item"><a href="/{{izdelek.skupina_izdelkov.id}}/{{izdelek.id}}/">{{ izdelek.ime }}</a></li>

        {% endfor %}
    </ul>

    <table class="table">

        {% for izdelek in izdelki  %}
        <tr>
            <td>{{izdelek.ime}}</td>
            <td>{{izdelek.opis}}</td>
            <td><img src="{{ izdelek.slika.url }}"></td>
            <td>{{izdelek.zaloga}}</td>
            <td>{{izdelek.aktiven}}</td>
            
            
            <td>
                
                <input name="kolicina" required="" id="id_kolicina" type="number">
                
            </td>
            <td><input type="submit" value="Dodaj v košarico" /></td>
            
            

        </tr>
        {% endfor %}

    </table>

    </body>


</html>



