{% include "base.html" with active_kosarica="active" skupine=skupine %}


<div id="main" class="main">
	{% block content %}


	<form action="/pregled_narocil/" method="post">
		{% csrf_token %}
		<button type="submit" name="pregled_narocil">Pregled starih narocil</button>
	</form>
	{% if arr %}

	<table class="table">
		<tr>
			<td>#</td>
			<td>Ime izdelka</td>
			<td>Slika</td>
			<td>Kolicina narocenih izdelkov</td>
			<td>Spremeni kolicino</td>
			<td>Odstrani izdelek iz kosarice</td>
		</tr>
		{% for narocilo_izdelka in arr  %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{narocilo_izdelka.izdelek.ime}}</td>
			<td><img src="{{ narocilo_izdelka.izdelek.image_thumbnail.url }}"></td>
			<td>{{narocilo_izdelka.kolicina}}</td>
			<form action="/kosarica/" method="post">
				{% csrf_token %}
				<td>
					<input type="hidden" name="narocilo" value={{ narocilo_izdelka.id }}>
					<input type="number" name="kolicina" min="0">
					<button type="submit" name="spremeni_kolicino">Spremeni</button>
				</td>
				<td>
					<input type="hidden" name="narocilo" value={{ narocilo_izdelka.id }}>
					<button type="submit" name="odstrani_izdelek">Odstrani</button>
				</td>
			</form>
		</tr>
		{% endfor %}
		<!-- Size od text inputa ???? -->
	</table>



	<form action="/pregled_narocil/" method="post">
		{% csrf_token %}
		<input type="text" name="opomba" placeholder="Opomba" size="70"><br>
		<button type="submit" name="oddaj_narocilo">Oddaj narocilo</button>
	</form>


	{% else %}
	Kosarica je prazna.
	{% endif %}

	{% endblock %}
</div>
