{% include "base.html" with active_kosarica="active" skupine=skupine %}

	{% block content %}
<div id="main" class="main">
	<div class="m-3">
		<h1>Košarica</h1>
		<form action="/pregled_narocil/" method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-primary mb-3" name="pregled_narocil">Pregled starih naročil</button>
		</form>

		<div id="warning-text"  class="alert alert-dismissible alert-warning item-card">
	  
	      Vpišite pravilno količino.
	    </div>

	    <div id="warning-text2"  class="alert alert-dismissible alert-warning item-card">
      	Minimalna količina naročila za ta izdelek je .
    	</div>



		{% if arr %}

		<table class="table table-responsive mt-3 table-hover ">
			<thead>
				<tr class="table-light">
					<th scope="col">#</th> 
					<th scope="col">Ime izdelka</th>
					<th scope="col">Koda izdelka</th>  
					<th scope="col">Slika</th> 
					<th scope="col">Količina</th> 
					<th scope="col">Spremeni količino</th> 
					<th scope="col">Odstrani izdelek iz košarice</th> 
				</tr>
			</thead>
			{% for narocilo_izdelka in arr  %}
			<tr class="table-light">
				<td>{{forloop.counter}}.</td>
				<td>{{narocilo_izdelka.izdelek.ime}}</td>
				<td>{{narocilo_izdelka.izdelek.koda}}</td>
				<td><img style="max-height:80px" src="{{ narocilo_izdelka.izdelek.image_thumbnail.url }}"></td>
				<td>{{narocilo_izdelka.kolicina}}</td>
				
					
					<td class="row">
						<form action="/kosarica/" method="post" name="form-{{narocilo_izdelka.izdelek.id}}" class="form-inline">
							{% csrf_token %}
						<div class="form-inline my-2 my-lg-0">
						<input type="hidden" name="narocilo" value={{ narocilo_izdelka.id }}>
						
						<input class="form-control mr-2 costum-input" placeholder="min. {{narocilo_izdelka.izdelek.skupina_izdelkov.min_narocilo}}" type="number" name="kolicina" min="0" size="10">
				
						<button type="submit" class="btn btn-primary spremeni_kolicino" name="spremeni_kolicino" data-form="form-{{narocilo_izdelka.izdelek.id}}" data-min={{narocilo_izdelka.izdelek.skupina_izdelkov.min_narocilo}}  ><i class="fa fa-pencil"></i> 	&nbsp;Spremeni</button>
						
						</div>
						</form>
					</td>
					<td>
						<form action="/kosarica/" method="post" name="remove-item" class="form-inline">
							{% csrf_token %}
							<input type="hidden" name="narocilo" value={{ narocilo_izdelka.id }}>
							<button class="btn btn-danger btn-large-text odstrani_izdelek" name="odstrani_izdelek" type="submit"><i class="fa fa-times"></i>  &nbsp;Odstrani 
						</button>
						</form>
					</td>
				
			</tr>
			{% endfor %}
			<!-- Size od text inputa ???? -->
		</table>



		<form action="/pregled_narocil/" method="post" class="form-inline">
			{% csrf_token %}

			<input type="text" class="form-control costum-input mr-2 col-sm-9" name="opomba" placeholder="Opomba" size="70">
			<button type="submit" class="btn btn-primary col-sm-2" name="oddaj_narocilo">Oddaj naročilo</button>
		</form>


		{% else %}
		<p class="text-justify mt-3">Košarica je prazna.</p>
		{% endif %}
	</div>

</div>
{% endblock %}