{% include "base.html" with active_narocila="active" skupine=skupine%}
<div id="main" class="main">
	{% block content %}
	{% if message %}<h5 class="alert {{ msg_type }}"> {{ message }} </h5> {% endif %}

	<table class="table">
		<tr>
			<td>#</td>
			<td>Datum narocila</td>
			<td>Pregled narocila (PDF) </td>
		</tr>
		{% for narocilo in arr  %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{ narocilo.datum|date:'d.m.Y' }}, {{ narocilo.datum|time:"H:i" }}</td>

			
            <form action="/pregled_narocil/" method="post">
                {% csrf_token %}
                <td>
                    <input type="hidden" name="narocilo_id" value={{ narocilo.id }}>
                    <button type="submit" name="prenesi_pdf">Prenesi</button>
                </td>
            </form>
		</tr>
		{% endfor %}
	</table>
	{% endblock %}
</div>