{% include "base.html" with active_narocila="active" skupine=skupine%}

	{% block content %}
<div id="main" class="main">
<div class="m-3">
	<h1>Naročila</h1>
	{% if show_msg %}<h5 class="alert {{ msg_type }}"> {{ message }} </h5> {% endif %}

	{% if arr %}
	<table class="table table-responsive mt-3 table-hover">
		<thead>
			<tr class="table-light">
				<th scope="col">#</th>
				<th scope="col">Datum naročila</th>
				<th scope="col">Pregled naročila (PDF) </th>
			</tr>
		</thead>
		{% for narocilo in arr  %}
		<tr class="table-light">
			<td>{{forloop.counter}}</td>
			<td>{{ narocilo.datum|date:'d.m.Y' }}, {{ narocilo.datum|time:"H:i" }}</td>

			
            <form action="/pregled_narocil/" method="post">
                {% csrf_token %}
                <td>
                    <input type="hidden" name="narocilo_id" value={{ narocilo.id }}>
                    <button type="submit" class="btn btn-info" name="prenesi_pdf">Prenesi</button>
                </td>
            </form>
		</tr>
		{% endfor %}
	</table>

	{% else %}
	<p>Ni najdenih naročil.</p> 

	{% endif %}
</div>
</div>
{% endblock %}